@using RecipeRating.Model
@using RecipeRating.Web.Helpers
@model PaginatedList<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
@if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Manager"))
{
    <p>
        <a class="btn btn-danger" asp-action="Create">Create New</a>
    </p>
}

<form asp-action="Index" method="get" class="mb-3">
    <div class="form-row">
        <div class="col-3">
            <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search by name" />
        </div>
        <div class="col-2">
            <input type="submit" value="Apply filter" class="form-control btn btn-primary" />
        </div>
        <div class="col-2">
            <a class="form-control btn btn-light" asp-action="Index">Undo filter</a>
        </div>
    </div>
</form>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="@item.Name" class="card-img-top embed-responsive-item" src="@item.ImageUrl" />
                </div>
                @*<img class="card-img-top " src="@item.ImageUrl" alt="@item.Name">*@
                <div class="card-body">
                    <a asp-area="" asp-controller="Dishes" asp-action="Index" asp-route-categoryFilter="@item.Id"><h4 class="card-title">@item.Name</h4></a>
                    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Manager"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    }
                </div>
            </div>
        </div>
    }
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
