@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using RecipeRating.Model
@model RecipeRating.Model.Recipe
@inject SignInManager<AppUser> SignInManager
@{
    ViewData["Title"] = "Details";
}

<div class="row mb-3">
    <div class="col-12">
        <h3>@Model.Dish.Name Recipe</h3>
    </div>
    <div class="embed-responsive embed-responsive-16by9 m-3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@Model.Url"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
    <div class="col-12">
        <h4>@Model.Name</h4>
    </div>
    <div class="col-6">
        Channel: <a href="https://www.youtube.com/channel/@Model.ProviderAccount.AccountId" target="_blank">@Model.ProviderAccount.Name</a>
    </div>
    <div class="col-6 text-right">
        Added by user: <a href="#" target="_blank">@Model.User.FullName</a>
    </div>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <form asp-action="Rate" asp-route-recipeId="@Model.Id">
        <div class="row">
            <div class="col-12 mb-3">
                <h5>Rate and leave a comment:</h5>
            </div>
            <div class="col-lg-6 col-md-12">
                <partial name="_Rating" model='@new RatingPartialModel("Simple","Complex","Simplicity")' />
                <partial name="_Rating" model='@new RatingPartialModel("Cheap","Expensive","Price")' />
                <partial name="_Rating" model='@new RatingPartialModel("Quick","Time consuming","Time")' />
                <partial name="_Rating" model='@new RatingPartialModel("Bland","Tasty","Taste")' />
            </div>
            <div class="col-lg-6 col-md-12">
                <textarea name="Comment" class="col-12 float-right" rows="5" placeholder="Leave a comment"></textarea>
            </div>
            <div class="col-12">
                <input class="btn btn-outline-light float-right" type="submit" value="Send">
            </div>
        </div>
    </form>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-danger">Sign up to start rating</a>
}
<div class="row mt-3">
    <div class="col-12">
        <div class="col-12 mb-3">
            <h5>Ratings and comments:</h5>
        </div>
        <div class="container">
            @foreach (var rating in Model.Ratings)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1 align-items-center">
                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" width="50" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-11">
                                <p>
                                    <strong>@rating.User.FullName</strong> on @rating.CreatedAt.ToString("F", CultureInfo.CreateSpecificCulture("en-US"))
                                </p>
                                <div class="clearfix"></div>
                                <p>@rating.Comment</p>
                                <div class="col-md-12">
                                    <partial name="_RatingReadonly" model='@new RatingReadonlyPartialModel("Complex", "complex.svg", @rating.Simplicity)' />
                                    <partial name="_RatingReadonly" model='@new RatingReadonlyPartialModel("Time intensive", "time.svg", @rating.Time)' />
                                    <partial name="_RatingReadonly" model='@new RatingReadonlyPartialModel("Expensive", "price.svg", @rating.Price)' />
                                    <partial name="_RatingReadonly" model='@new RatingReadonlyPartialModel("Tasty", "tasty.svg", @rating.Taste)' />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
<script type="text/javascript">
    $(function() {
       $('.editable').barrating({
           theme: 'bars-movie'
       });
    });

    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

    $(function() {
       $('.readonly').barrating({
           theme: 'bars-movie',
           readonly: true
       });
    });
</script>
}
