@using RecipeRating.Web.Helpers
@model PaginatedList<RecipeRating.Model.Recipe>

@{
    ViewData["Title"] = "Recipes";
}

<link rel="stylesheet" href="/css/rating/bars-movie-readonly.css" />

<h1>Recipes</h1>
@if (ViewContext.HttpContext.User.IsInRole("Admin") ||ViewContext.HttpContext.User.IsInRole("Manager"))
{
    <p>
        <a class="btn btn-danger" asp-action="Create">Create New</a>
    </p>
}

<form asp-action="Index" method="get" class="mb-3">
    <div class="form-row">
        <div class="col-3">
            <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search by name" />
        </div>
        <div class="col-3">
            <select id="dishSelect" name="dishFilter" class="selectpicker form-control" data-live-search="true">
                <option value="">All dishes</option>
                @foreach (var item in ViewBag.DishId)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        <div class="col-2">
            <input type="submit" value="Apply filter" class="form-control btn btn-primary" />
        </div>
        <div class="col-2">
            <a class="form-control btn btn-light" asp-action="Index">Undo filter</a>
        </div>
    </div>
</form>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="Recipes" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>
                    <img src="@item.ThumbnailUrl" alt="Image" width="100">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderAccount.Name)
                </td>
                <td>
                    @if (item.Complexity == null)
                    {
                        <p>No ratings yet</p>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <partial name="_RatingReadonly" model='@new RatingReadonlyPartialModel("Complex", "complex.svg", @item.Complexity)' />
                            <partial name="_RatingReadonly" model='@new RatingReadonlyPartialModel("Time intensive", "time.svg", @item.Time)' />
                            <partial name="_RatingReadonly" model='@new RatingReadonlyPartialModel("Expensive", "price.svg", @item.Price)' />
                            <partial name="_RatingReadonly" model='@new RatingReadonlyPartialModel("Tasty", "tasty.svg", @item.Taste)' />
                        </div>
                    }
                </td>
                @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Manager"))
                {
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-currentCategoryFilter="@ViewData["CurrentDishFilter"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-currentCategoryFilter="@ViewData["CurrentDishFilter"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

@section Scripts{
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

    $(function() {
       $('.rating-component').barrating({
           theme: 'bars-movie',
           readonly: true
       });
    });

    $('#dishSelect').val(@ViewData["CurrentDishFilter"]);
    $('.selectpicker').selectpicker('refresh');
</script>
}